firebase-admin==6.5.0
pandas==2.2.1
numpy==1.26.4
ccxt==4.2.72
scikit-learn==1.4.2
google-cloud-firestore==2.15.1
schedule==1.2.1
python-dotenv==1.0.1
ta==0.11.0
requests==2.31.0
websocket-client==1.7.0